<h1> Name: <%= @user.full_name %> </h1> 
<h2> ID: <%= @user.username %> </h2> 

<h3> Favorite Type: <%= @user.fav_type %> </h3>
<h3> Favorite Stat: <%= @user.fav_stat %> </h3>

<%= link_to 'Edit User',  "/users/#{@user.id}/edit"%>