<div class="box">
   <div class="profile-card">

<h1> Name: <%= @user.full_name %> </h1>
<h2> ID: <%= @user.username %> </h2>

<h3> Favorite Type: <%= @user.fav_type %> </h3>
<h3> Favorite Stat: <%= @user.fav_stat %> </h3>



   <div class="jap-name">
   <%= link_to "Catchem all", pokemons_path %>
   </div>

   <div class="jap-name">
   <%= link_to "Edit Profile",  "/users/#{@user.id}/edit"%>
   </div>

   <div class="jap-name">
   <%= link_to "Your PokeTeam",  "/users/#{@user.id}/poketeam"%>
   </div>


    </div>
    </div>

