

<div>




<div class="box">
    <div class="profile-card">
        <div class="name">
            <%= @user.full_name %>
        </div>
        <div class="id">
            @<%= @user.username %>
        </div>
        <div class="type">
            Your Type: <%= @user.fav_type %>
        </div>
        <div class="stat">
            Best Stat:  <%= @user.fav_stat %>
        </div>
        <div class="poketeam">
            <%= link_to 'Your PokeTeam',  "/users/#{@user.id}/poketeam"%>
        </div>

        <div>
            <%= link_to 'Edit User',  "/users/#{@user.id}/edit"%>
        </div>
    </div>
</div>