<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>RailsProjectModeYaleWebYss052719</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>


<% if logged_in? %>
   <%= link_to "Logout", "/logout", method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>

  <body>
    <hr>
    <%= yield %>
    
  </body>
</html>

